<link rel="stylesheet" href="/css/header.css" />
<html>
  <head> </head>
  <body>
    <p>header page</p>
    <ul>
      <% if (locals.user) {%>
      <li style="color: #fff"><a href="#"><%= user.name %></a></li>
      <li><a href="/users/signOut">Sign Out</a></li>
      <% }else{ %>
      <li><a href="/users/signin">Sign In</a></li>
      <li><a href="/users/signup">Sign Up</a></li>
      <% } %>
    </ul>
  </body>
</html>
